<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- thymeleaf 할 때 필요 -->
<html lang="en">

<head>
    <div th:replace="~{fragment::head}">
    </div>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" th:action th:object="${user}" action="/signup" method="POST">
                                <!-- user ID -->
                                <div class="form-group-label">
                                    <label for="userLoginId" th:text="#{label.user.id}">ID</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="userLoginId" th:field="*{userLoginId}"
                                           th:errorclass="field-error" class="form-control form-control-user" placeholder="ID">
                                        <div class="field-error" th:errors="*{userLoginId}">
                                            ID 형식 오류
                                        </div>
                                </div>

                                <!-- User Password -->
                                <div class="form-group-label">
                                    <label for="userPassword" th:text="#{label.user.password}" >Password</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" id="userPassword" th:field="*{userPassword}"
                                               th:errorclass="field-error" class="form-control form-control-user" placeholder="Password">
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="password" id="userRepeatPassword" th:field="*{userRepeatPassword}"
                                               class="form-control form-control-user" placeholder="Repeat Password">
                                    </div>

                                    <div class="field-error" th:errors="*{userPassword}">
                                        password 형식 오류
                                    </div>

                                </div>

                                <!-- email -->
                                <div class="form-group-label">
                                    <label for="userEmail" th:text="#{label.user.email}">Email</label>
                                </div>
                                <div class="form-group">
                                    <input type="email" id="userEmail" th:field="*{userEmail}"
                                           class="form-control form-control-user" placeholder="Email Address">
                                </div>

                                <!-- nickname -->
                                <div class="form-group-label">
                                    <label for="userNickname" th:text="#{label.user.nickname}">Nickname</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="userNickname" th:field="*{userNickname}"
                                           class="form-control form-control-user" placeholder="Nickname">
                                </div>

                                <!-- gender -->
                                <div class="form-group-label">
                                    <label th:text="#{label.user.gender}">Gender</label>
                                </div>
                                <div class="form-group">
                                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" style="border-radius: 50px; border: 1px solid #d1d3e2;">
                                        <label class="btn btn-light w-50" style="border-radius: 50px 0 0 50px; color: gray;">
                                            <input type="radio" name="userGender" th:field="*{userGender}" value="M" autocomplete="off"> Male
                                        </label>
                                        <label class="btn btn-light w-50" style="border-radius: 0 50px 50px 0; color: gray;">
                                            <input type="radio" name="userGender" th:field="*{userGender}" value="F" autocomplete="off"> Female
                                        </label>
                                    </div>
                                </div>

                                <!-- job -->
                                <div class="form-group-label">
                                    <label for="userJob" th:text="#{label.user.job}">Job</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="userJob" th:field="*{userJob}"
                                           class="form-control form-control-user" placeholder="Your Job">
                                </div>

                                <!-- Birthday -->
                                <div class="form-group-label">
                                    <label for="exampleInputYear" th:text="#{label.user.birthday}">Birthday</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="number" class="form-control form-control-user"
                                               id="exampleInputYear" name="year" placeholder="Year">
                                    </div>
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="number" class="form-control form-control-user"
                                               id="exampleInputMonth" name="month" placeholder="Month">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control form-control-user"
                                               id="exampleInputDay" name="day" placeholder="Day">
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Register Account
                                    </button>
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>